<!--
body {
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	scrollbar-face-color: #8BBC25;
	scrollbar-shadow-color: #61615F; 
	scrollbar-highlight-color: #61615F; 
	scrollbar-3dlight-color: #ffffff;
	scrollbar-darkshadow-color: #ffffff; 
	scrollbar-track-color: #8BBC25;
	scrollbar-arrow-color: #61615F;
	background-color:#DCEBB9;	
}	
table {
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color:#DCEBB9;
}
.message {
	background-color:#FFFFFF;
	font-weight:bold;
}
.inputnatural {
	background-color:#DCEBB9;
	border:none;
}
.inputnaturalheader {
	background-color:#AED75B;
	border:none;
}
.tbheader {
	font-size:12px;
	font-weight:bold;
	background-color:#AED75B;
	border-top-width: medium;
	border-top-style: solid;
	border-top-color: #7B869A;
}
.tbtitle {
	font-size:14px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#FFCC00;
	background-color:#8BBC25;
}
input {
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color:#CDE69B;
	border:1px solid #8BBC25;
}
textarea {
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color:#CDE69B;
	border:1px solid #8BBC25;
}
select {
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color:#CDE69B;
	border:1px solid #8BBC25;
}
.button {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#336600;
	background-color:#8BBC25;
	border-top-color: #D3EAA6;
	border-left-color: #D3EAA6;
	border-right-color: #006600;
	border-bottom-color: #006600;
}
a{
	font-size:11px;
	color: #003366;
	text-decoration:none;
}
a:active,a:visited{
	font-size:11px;
	text-decoration:underline;
}
a:hover{
	font-size:11px;
	font-weight:bold;
	text-decoration:underline;
}
.contenttitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight:bold;
	color: #FF9900;
}
.tbborder {
	border: 1px solid #D2D2D2;
	background-color: #FFFFFF;
}
.tbnatural {
	border: none;
	background-color: #FFFFFF;
}
.tdline {
	border-bottom: 1px solid #8BBC25;
}
a.menulink{
	height:22px;
	display:block;
	width:100%;
	background-color:#AED75B;
	COLOR:#000000; 
	FONT: normal 11px tahoma;
	text-align:center;
	text-decoration:none;
	padding-left:5px;
	padding-right:5px;
}
a.menulink:active,a.menulink:visited{
	text-decoration:none;
}
a.menulink:hover{
	height:22px;
	display:block;
	width:100%;
	border-top:	solid 2px #FF6600;
	background-color:#97C831;
	COLOR:#C44F00; 
	FONT: bold normal 11px tahoma;
	text-align:center;
	text-decoration:none;
	padding-left:5px;
	padding-right:5px;
}
.content {
	overflow: auto;
	position: justify;
	height: 100;
	font-family: Tahoma;
	font-size: 11px;
}
-->