.autocomplete_list * {
	font: 11px/15px "lucida grande",verdana,sans-serif;
}

.autocomplete_list { 
	background: #fff; display: block; border: 1px solid #888; text-align: left; z-index: 200; 
}

.autocomplete_list b, .autocomplete_list em, .autocomplete_list strong { 
	font-weight: bold; 
}

.autocomplete_list, .autocomplete_list ol, .autocomplete_list li { 
	list-style-type: none; margin: 0; padding: 0; 
}

.autocomplete_list .item, .autocomplete_list .current_item { 
	margin: 0px; padding: 3px 6px; text-align: left; cursor: pointer; 
	border-top: 1px solid #e3e3e3;	
}

.autocomplete_list .first_item {
	border-top: none;
}

.autocomplete_list .current_item { 
	background: #b4d5fe; color: #000; 
}

.autocomplete_list span { 
	color: #111; float: right; padding-left: 20px; 
}
