div#tipDiv {
    padding:4px;
    color:#000; font-size:11px; line-height:1.2;
    background-color:#E1E5F1; border:1px solid #667295; 
    width:210px; 
	font-size:1.2em;
}

/* example demonstrating applying styles to 'tipContent' for tooltip display */
div#tipDiv ul.tipContentList {
    margin:0; padding:0; list-style:none;
}
