.text {
	font-family: Tahoma, Arial;
	font-size: 12px;
}
input {
	font-family: Tahoma, Arial;
	font-size: 11px;
}
select {
	font-family: Tahoma, Arial;
	font-size: 11px;
}
textarea {
	font-family: Tahoma, Arial;
	font-size: 11px;
}

a:link, a:visited, a:hover {
	color: #006699;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

}

a.j:link, a.j:visited, a:hover {
	color: #006699;
	text-decoration: underline;
}

a.j:hover {
	text-decoration: none;
}

a.cv:link, a.cv:visited, a:hover {
	color: black;
	text-decoration: underline;
}

a.cv:hover {
	text-decoration: none;
}

.body{scrollbar-3dlight-color:#f3f3f3;scrollbar-arrow-color:#ffffff;scrollbar-darkshadow-color:#f3f3f3;scrollbar-face-color:#cccccc;scrollbar-highlight-color: #f3f3f3; scrollbar-shadow-color: #f3f3f3; scrollbar-track-color: #f3f3f3:counter-reset: tab 10;}