<?php
	include "../koneksi/koneksi.inc.php"; 
  
  //============== delete data dbo_empmnt_stat ====================
  $del_data="DELETE FROM dbo_empmnt_stat";
	mysql_query($del_data, $idmysql) or die("Gagal Mengeksekusi Query, ". mysql_error($idmysql));

  //============== insert data dbo_empmnt_stat ====================
  $str="INSERT INTO dbo_empmnt_stat VALUES
  (1,'Farmer','Petani',1),
  (2,'Fisher','Nelayan',2),
  (3,NULL,'Pedagang',3),
  (4,NULL,'Pegawai Negeri',4),
  (5,NULL,'TNI/POLRI',5),
  (6,NULL,'Pegawai Swasta',6),
  (7,NULL,'Wiraswasta',7),
  (8,NULL,'Pensiunan',8),
  (9,NULL,'Lainnya/Pekerja Lepas',9),
  (0,NULL,'Tidak bekerja',0)";   
  mysql_query($str, $idmysql) or die("Gagal Mengeksekusi Query, ". mysql_error($idmysql));

  //============== update dbo_empmnt_stat ====================
  $upd_data="UPDATE dbo_empmnt_stat SET kd_emp=0 WHERE no_urut_empmnt=0";
  mysql_query($upd_data, $idmysql) or die("Gagal Mengeksekusi Query, ". mysql_error($idmysql));
  
  //============== delete data dbo_edu_lvl ====================
  $del_data1="DELETE FROM dbo_edu_lvl";
  mysql_query($del_data1, $idmysql) or die("Gagal Mengeksekusi Query, ". mysql_error($idmysql));

  //============== insert data dbo_edu_lvl ====================
  $str1="INSERT INTO dbo_edu_lvl VALUES
  (1,'No Schooling','Tidak Sekolah',1),
  (2,'Not Finished Element','Tidak Tamat SD',2),
  (3,'Still in Elementary','Masih SD',3),
  (4,'Elementary','Tamat SD',4),
  (5,'Still in Jr School','Masih SLTP',5),
  (6,'Jr School','Tamat SLTP',6),
  (7,'Still in Sr School','Masih SLTA',7),
  (8,'Sr School','Tamat SLTA',8),
  (9,'Still in Ac/University','Masih PT/Akademik',9),
  (10,'Academy/University','Tamat PT/Akademik',10)";   
  mysql_query($str1, $idmysql) or die("Gagal Mengeksekusi Query, ". mysql_error($idmysql)); 

?>
<br><br><br><br><br><br><br><br><br><br>
<div align="center"><font size="+4" color="#0066CC" face="Verdana, Arial, Helvetica, sans-serif">PROSES BERHASIL</font><br><br><br>
<div align="center"><font size="+4" color="#0066CC" face="Verdana, Arial, Helvetica, sans-serif">MDK V.3</font><br><br><br>
<a href="../"><font size="3" color="#0066CC" face="Verdana, Arial, Helvetica, sans-serif">LOGIN MDK</font></a>
</div>

