
.knoq_fold {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
}
.knoq_fold img {
	border: 0px;
	vertical-align: middle;
}
.knoq_fold a {
	color: #333;
	text-decoration: none;
}
.knoq_fold a.node, .knoq_fold a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.knoq_fold a.node:hover, .knoq_fold a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.knoq_fold a.nodeSel {
	background-color: #c0d2ec;
}
.knoq_fold .clip {
	overflow: hidden;
}
